In [11]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [3]:
a='Data'
b='sales_train_validation.csv'
sale=pd.read_csv(os.path.join(a,b))

In [6]:
class LevelsCreater:
    def __init__(self,sales_train_validation12):
        self.sales_train_validation12 = sales_train_validation12
        self.d_cols =  list(self.sales_train_validation12.columns[6:])
    
    def level_11(self):
        return self.sales_train_validation12[['item_id', 'state_id'] + self.d_cols].groupby(['item_id', 'state_id'], as_index=False).sum()
        
    def level_10(self):
        return self.sales_train_validation12[['item_id'] + self.d_cols].groupby(['item_id'], as_index=False).sum()
        
    def level_9(self):
        return self.sales_train_validation12[['store_id', 'dept_id'] + self.d_cols].groupby(['store_id', 'dept_id'], as_index=False).sum()
        
    def level_8(self):
        return self.sales_train_validation12[['store_id', 'cat_id'] + self.d_cols].groupby(['store_id', 'cat_id'], as_index=False).sum()
        
    def level_7(self):
        return self.sales_train_validation12[['state_id', 'dept_id'] + self.d_cols].groupby(['state_id', 'dept_id'], as_index=False).sum()
        
    def level_6(self):
        return self.sales_train_validation12[['state_id', 'cat_id'] + self.d_cols].groupby(['state_id', 'cat_id'], as_index=False).sum()
        
    def level_5(self):
        return self.sales_train_validation12[['dept_id'] + self.d_cols].groupby(['dept_id'], as_index=False).sum()
    
    def level_4(self):
        return self.sales_train_validation12[['cat_id'] + self.d_cols].groupby(['cat_id'], as_index=False).sum()
        
    def level_3(self):
        return self.sales_train_validation12[['store_id'] + self.d_cols].groupby(['store_id'], as_index=False).sum()
        
    def level_2(self):
        return self.sales_train_validation12[['state_id'] + self.d_cols].groupby(['state_id'], as_index=False).sum()
        
    def level_1(self):
        return pd.DataFrame(self.sales_train_validation12[self.d_cols].sum()).transpose()

In [7]:
Generatelev = LevelsCreater(sale)
level11 = Generatelev.level_11()
level10 = Generatelev.level_10()
level9 = Generatelev.level_9()
level8 = Generatelev.level_8()
level7 = Generatelev.level_7()
level6 = Generatelev.level_6()
level5 = Generatelev.level_5()
level4 = Generatelev.level_4()
level3 = Generatelev.level_3()
level2 = Generatelev.level_2()
level1 = Generatelev.level_1()

,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,d_10,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,32631,31749,23783,25412,19146,29211,28010,37932,32736,25572,...,41789,48362,51640,38059,37570,35343,35033,40517,48962,49795

list